<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.example.robi_puzzle.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="Rubi Puzzle"
        tools:replace="android:name, android:icon, android:label">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|uiMode|layoutDirection|fontScale|screenLayout"
            tools:replace="android:configChanges">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
